
body {
    background-image: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 16%, rgba(0, 212, 255, 1) 100%);

}

.buttoncontrol {
    display: flex;
    justify-content: center;
}

.main-panel {
    display: flex;
    justify-content: space-between;
    min-width: 99vw;
    
}

.player-name {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.player-score {
    text-align: center;
    font-size: 80px;
    font-weight: 100;
    color: #EB4D4D;
    margin-bottom: 130px;
}

.active {
    background-color: #f7f7f7;
}


.current-player {
    background-color: #EB4D4D;
    color: #fff;
    width: 40%;
    padding: 12px 0 ;
    text-align: center;
}

.current-player-label {
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 10px;
    font-size: 12px;
    color: #222;
}

.current-player-score {
    font-size: 40px;
}

.btn-new,
.btn-roll,
.btn-collect {
    color: #555;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding: 10px 0;
    margin-left: 10px;
    width: 250px;
    border-radius: 4px;
    text-transform: uppercase;
    
}

.final-score {

    color: #555;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding: 10px 0;
    width: 250px;
    text-transform: uppercase;
  
    margin-top: 20px;
}

.game {
    padding: 20px 0;
}

.player-1{
    width: 20%;
}

.player-2{
    width: 20%;
}